doctype html
html
  include inc/head
  body
    textarea#source
      include ../slides/01_intro.md
      include ../slides/02_what.md
      include ../slides/03_why.md
      include ../slides/04_how.md
      include ../slides/05_outro.md
    include inc/scripts
