doctype html
html
  include inc/head
  body
    textarea#source
      include ../slides/00_layouts.md
      include ../slides/01_intro.md
      include ../slides/02_getting-started.md
      include ../slides/03_testing-your-react-app.md
      include ../slides/04_testing-render.md
      include ../slides/05_testing-interactions.md
      include ../slides/06_testing-state.md
      include ../slides/07_guidance.md
      include ../slides/08_demo.md
      include ../slides/09_outro.md
    include inc/scripts
