head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title="The Static Web Revolution"
  meta(name="description" content="The Static Web Revolution - A talk on the viability of static websites as an alternative to CMS-driven websites. By Steven J Hicks.")
  meta(name="author" content="Steven J Hicks")
  link(rel="stylesheet", href="css/elusive-icons.css")
  link(rel="stylesheet", href="css/main.css")
