$brand = #011640
$brand-alt = #009826
$brand-alt-light = #DAEAEA
$brand-highlight = lighten($brand-alt-light, 80%)

@import "../../../../../shared/src/styl/_default"
@import "../../../../../shared/src/styl/_title"

.remark-slide-content
  padding 1em 3em 1em 3em
.remark-code
  position relative
  &:after
    position absolute
    top 0
    right 0
    background-color $brand-alt
    border 1px solid
    padding 2px
    opacity .5
    border-radius 8px
    color white
  &.javascript:after
    content 'JS'
  &.csharp:after
    content 'C#'
.inverse-text
  color white

.title.small h1
  font-size 4em

/* Two-column layout */

.left-column
  float left
  width 20%
  height 92%
  color #777

.left-column
  h2:last-of-type
  h3:last-child
    color #000

.right-column
  float right
  width 75%
  padding-top 1em

.double-stack h1
.double-stack h2
.double-stack h3
.double-wide h1
.double-wide h2
.double-wide h3
  float left
  margin-top -.4em
  font-size 3em
  text-align left
  padding 0 .25em
  border-right 1px solid
.double-wide.secondary
.double-stack.secondary
  h1
    color #888
  h2
    border-right none
    &+*
      clear both
.double-wide.tertiary
.double-stack.tertiary
  h1
    color #aaa
  h2
    color #888
  h3
    border-right none
    &+*
      clear both
  p
    float left
.double-wide pre
  width 100%
  float left
.double-wide .leftest
.double-wide .rightest
  float left
  width 48%
.double-wide .leftest
  margin-right:2%
.double-wide .rightest
  margin-left:2%

.double-stack pre
  width 100%
  float left
.double-stack pre+pre
.double-stack p+p
  margin-top 2em


.new-section
  vertical-align middle
  text-align center
.new-section
  h1
    font-size 5em
    margin-top 0
  h2
    font-size 3em
    margin-top 0


.sub-section
  h1
    font-size 3em
  h2
    font-size 4em
  h1:first-child
    color #999
    margin-top 0
  h2
    margin-top 0


.title.conversation
  blockquote
    padding 15px
    h2
      margin-top 0

.profile
  width 50%
  text-align center
  img
    width 75%
.about
  .half
    display table-cell
    vertical-align middle
    h1
      margin 0
    &.specs>*
      opacity 0.5
      &:last-child
        opacity 1.0


.summary-list
  vertical-align middle
  h1
    margin 0