doctype html
html
  include inc/head
  body
    textarea#source
      include ../slides/00_layouts.md
      include ../slides/01_intro.md
      include ../slides/02_module-0.md
      include ../slides/03_module-1.md
      include ../slides/04_module-1-summary.md
      include ../slides/05_module-2.md
      include ../slides/06_module-2-summary.md
      include ../slides/07_module-3.md
      include ../slides/08_module-3-summary.md
      include ../slides/09_module-4.md
      include ../slides/10_module-4-summary.md
      include ../slides/11_module-5.md
      include ../slides/12_module-5-summary.md
      include ../slides/13_wrapping-up.md
      include ../slides/14_outro.md
    include inc/scripts
