doctype html
html
  include inc/head
  body
    textarea#source
      include ../slides/00_layouts.md
      include ../slides/01_intro.md
      include ../slides/02_use-the-platform.md
      include ../slides/03_puzzleball.md
      include ../slides/06_pragmatic-state.md
      include ../slides/06a_unigration.md
      include ../slides/07_suitcase-lifehack.md
      include ../slides/08_ducks.md
      include ../slides/08a_blueprint.md
      include ../slides/09_pacifist.md
      include ../slides/10_outro.md
    include inc/scripts
