.cover-art
  background-position center
  h1
    width 94%
    left 15px
    top 15px
    border 4px solid $brand-white-text
    box-shadow 1px 4px 10px $brand
  &.inverse
    text-shadow none
  .about
    left auto
    right 15px
    bottom 15px
    border 4px solid $brand-white-text
    box-shadow 1px 4px 10px $brand
    h3 i
      margin-right .5rem
  .while-waiting
    background-color $brand
    padding 1rem
    position absolute
    left 15px
    bottom 15px
    border 4px solid $brand-white-text
    box-shadow 1px 4px 10px $brand
    a
      color $brand-white-text
      text-decoration underline

.level-2.bold-statement
  h3
    font-size 5em
    margin-top 1.88em
    text-align center
    padding-left 0

.title:not(.cover-art):not(.inverse) h1
  border: 4px solid $brand-white-tex3333t;
  box-shadow: 1px 2px 4px $brand;
  color: white;
  background-color: $brand;
  position: absolute;
  display: inline-block;
  padding: 1rem 3rem;
  top: 15px;
  left: 15px;

.inverse:not(.image)
  color $brand-white-text
  background-color $brand
  text-shadow none
  &.bold-statement
    h1
      background none
      border none
      position relative
      top none
      left none
  .remark-slide-number
    color $brand-white-text
    opacity 1.0
  
.full-width p
  width 100%
  img
    width 100%

.title.module
  h1
    padding-bottom 2rem
    margin-bottom 2rem
    border-bottom 5px solid $brand-context
  h3 .remark-inline-code
    font-size 40px
.all-changes-require ol
  min-width 72%

.collaborative ul
  min-width 40%

.centered-image p
  position: relative;
  left: 50%;
  transform: translateX(-50%);

.content.level-1.schedule ul
  font-size 1.8em
  line-height 1.3em