doctype html
html
  include inc/head
  body
    textarea#source
      include ../slides/01_intro.md
      include ../slides/02_be-direct.md
      include ../slides/03_be-clear.md
      include ../slides/04_be-concise.md
      include ../slides/05_eliminate-duplication.md
      include ../slides/06_pace-yourself.md
      include ../slides/07_speak-my-language.md
      include ../slides/08_dont-make-me-think.md
      include ../slides/09_outro.md
    include inc/scripts
