.content
  vertical-align middle
  text-align center
  h2
    font-size 3em
  >h2:first-child
    position absolute
    top 0
    left 0
    right 0
    color $brand-alt
  h1
    font-size 4em
    margin-top 0
    &+h2
      margin-top .2em
  ul
    font-size 1.8em
    text-align left
  .hero
    margin-top 6em
  .col h2
    margin-top .4em
.content.top
  h1
    margin-top 1.5em
.profile
  img
    width auto
