/* Two-column layout */

.double-wide .leftest
.double-wide .rightest
  float left
  width 48%
.double-wide .leftest
  margin-right:2%
.double-wide .rightest
  margin-left:2%

.content.double-stack
  vertical-align inherit
.double-stack pre
  width 100%
  float left
  margin-top 7em
.double-stack pre+pre
.double-stack p+p
  margin-top 2em
