.title
  vertical-align middle
  text-align center
  h1
    font-size 5em
    margin-top 0
  h2
    font-size 3em
  .about
    margin-top 20px
    h3
      margin-top 0.5em
    h3>i
      vertical-align bottom
      color $brand-alt
    a
      color $brand
    a:hover
      color $brand-alt
  ul
    li
      font-size 2em
  .col h2
    margin-top .4em