doctype html
html
  include inc/head
  body
    textarea#source
      include ../slides/00_layouts.md
      include ../slides/01_intro.md
      include ../slides/02_history.md
      include ../slides/03_what.md
      include ../slides/04_why.md
      include ../slides/05_how.md
      include ../slides/06_when.md
      include ../slides/07_m.md
      include ../slides/08_a.md
      include ../slides/09_authors.md
      include ../slides/10_outro.md
    include inc/scripts
    include filters.md
