head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title="!!title!!"
  meta(name="description" content="!!title!! - A talk on !!description!!, presented by Steven J Hicks")
  meta(name="author" content="Steven J Hicks")
  link(rel="shortcut icon", href="images/favicon.ico")
  link(rel="stylesheet", href="css/elusive-icons.css")
  link(rel="stylesheet", href="css/main.css")
