head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title="Getting Started With React"
  meta(name="description" content="Getting Started With React - A talk on the Who, What, Why, and How of getting started with the React JS framework. By Steven J Hicks.")
  meta(name="author" content="Steven J Hicks")
  link(rel="stylesheet", href="css/elusive-icons.css")
  link(rel="stylesheet", href="css/main.css")
