.cover-art 
  h1, h2, h3
    background-color $brand
    margin 0
    padding 0.5rem 1rem
  h1
    width auto
  .about
    background-color $brand

.remark-code:after 
  display none

.climber
  animation 8s linear 0s 1 climb
  position absolute
  bottom 10px
  z-index 10
  img
    width 125px
.stage-0 .climber
  animation none
  margin-left 95px
  margin-bottom 70px
.stage-1 .climber
  margin-left 220px
  margin-bottom 150px
.stage-2 .climber
  margin-left 370px
  margin-bottom 245px
.stage-3 .climber
  margin-left 530px
  margin-bottom 345px

.mountain
  position absolute
  bottom 0

.remark-container.remark-presenter-mode .mountain
  display none

@keyframes climb {
  0% {
    transform: translate(-125px, 80px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.content-image.snapshots 
  padding-top 7em
.content-image.context 
  width 50%
  margin-left auto
  margin-right auto
.content-image.pyramid
  width 80%
  margin-left auto
  margin-right auto
.content-image.friendly-error 
  width 70%
  margin-left auto
  margin-right auto

h3 code.remark.remark-inline-code
  font-size 70px

.bg-cover.testing-pyramid
  background-size 80%
  background-position-y 50px