.cover-art
  background-position-y unset
  h1
    width 62%
    left 15px
    top 15px
    border 4px solid $brand-white-text
    box-shadow 1px 4px 10px $brand
  &.inverse
    text-shadow none
  .about
    right auto
    left 15px
    bottom 15px
    border 4px solid $brand-white-text
    box-shadow 1px 4px 10px $brand
    h3 i
      margin-right .5rem

.level-2.bold-statement
  h3
    font-size 5em
    margin-top 1.88em
    text-align center
    padding-left 0

.title:not(.cover-art):not(.inverse) h1
  border: 4px solid $brand-white-text;
  box-shadow: 1px 2px 4px $brand;
  color: white;
  background-color: $brand;
  position: absolute;
  display: inline-block;
  padding: 1rem 3rem;
  top: 15px;
  left: 15px;

.inverse:not(.image)
  color $brand-white-text
  background $brand
  text-shadow none
  &.bold-statement
    h1
      background none
      border none
      position relative
      top none
      left none
  .remark-slide-number
    color $brand-white-text
    opacity 1.0

.ftfy-semi-colon h1::after
  content ';'
  color #47c412
  
.full-width p
  width 100%
  img
    width 100%