head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title="Code Is Communication"
  meta(name="description" content="Code Is Communication - A talk on clean and maintainable code, presented by Steven J Hicks")
  meta(name="author" content="Steven J Hicks")
  link(rel="stylesheet", href="css/elusive-icons.css")
  link(rel="stylesheet", href="css/main.css")
