.content
  vertical-align middle
  text-align center
  h2
    font-size 3em
  >h2:first-child
    position absolute
    top 0
    left 0
    right 0
  h1
    font-size 4em
    margin-top 0
    &+h2
      margin-top .2em
  ul
    font-size 1.8em
    text-align left
  .hero
    margin-top 6em
  .col h2
    margin-top .4em
.content.top
  h1
    margin-top 1.5em

.profile
  text-align center
  img
    border 7px solid $brand
    border-radius 50%
    width 80%
.posterized img
  filter grayscale(100%)

.level-2
  h1
    margin 0
    padding 0
    line-height 1em
    color lighten($brand, 40%)
.level-3
  h1
    margin 0 0.3em 0 0
    padding 0 0.3em 0 0
    float left
    border-right 5px solid $brand-alt
    line-height 1em
    color lighten($brand, 40%)
  h2
    float left
    margin 0
    line-height 1em
    font-size 3em
  h1+h2+*
    clear both
    margin-top 50px
  h3
    float left
    font-size 3em
    padding-left 1em
    margin 0
    width 100%
.image
  p
    width 100%
    text-align center
    img
      width 80%
      margin-top 20px
.image-center
  p
    text-align center
    margin-left auto
    margin-right auto
    float left
    width 100%
    img
      max-width 100%
.inverse-text
  color white
  h1, h2
    color white
    text-shadow 5px 5px $brand
.double-image
  .leftest, .rightest
    width 48%
    float left
  .leftest
    margin-right 2%
  .rightest
    margin-top 50px
    margin-left 2%
  img
    max-width 100%

.no-footer .remark-slide-number
  display none