.centare-logo img
  width 70%
  margin-left -9px
  margin-bottom -14px

.soliloquy
  h2
    float right
    width 48%
    margin-top 3.3em
    font-size 2.5em
    padding-left 18px
    text-indent -18px
  h1
    margin-bottom 0.8em
.facts
  h2
    font-size 8em
    margin 0.5em 0 0 0
    text-align center
  h3
    font-size 3em
    margin 0
    text-align center
.level-2.statement
  h2
    font-size 4em
    margin-top 2em
    text-align center
.level-3.statement
  h3
    font-size 4em
    margin-top 2em
    text-align center
    padding 0
.level-2.bold-statement
  h2
    font-size 5em
    margin-top 1.88em
    text-align center
.level-3.bold-statement
  h3
    font-size 5em
    margin-top 1.88em
    text-align center
    padding-left 0
.definition
  h2
    font-size 4em
    text-align center
    margin-top 1.5em
  h3
    font-size 2em
    margin 0 auto 0 auto
    width 70%
.pros, .cons
  float left
  font-family "Teko"
  font-weight 600
  font-size 2.5em
  ul
    list-style none
    padding 0
    li
      padding-left 1.3em
      &:before
        font-family "Elusive-Icons"
        display inline-block
        margin-left -1.3em
        width 1.3em
.pros
  margin-left 10%
  width 40%
  ul>li:before
    content "\f20d"
.cons
  width 50%
  margin-top 50px
  ul>li:before
    content "\f20c"
    color: $brand-alt
.delorean p
  margin-top 150px
.time-circuits p
  margin-top 72px
.framework
  p
    text-align center
    margin 170px auto 0 auto
    float left
    width 100%
    img
      vertical-align middle;
      padding 30px;
      max-width 300px;
      max-height 200px;
.jam-stack
  p img
    position fixed
    top 0
    left 60px
    max-height 100%
  h1, h2
    width 80%
    float right
.frontmatter
  h4
    text-align left
    margin 0 0 10px 0
  img
    padding-left 20px
  &.rightest
    margin-left 50px
    margin-top 50px
.h2-list
  h2
    margin-top 0.5em