@import "../../../../../shared/src/styl/_title"


.remark-slide-content 
  background-color black
  color white

.remark-slide-scaler
  box-shadow none
  -webkit-box-shadow none
  -moz-box-shadow none

.remark-slide-container
  background-color black