head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title="TED Talk From TED Talks"
  meta(name="description" content="TED Talk From TED Talks - A TED-talk-style talk, written by a recurrent neural network. Presented by Steven J Hicks")
  meta(name="author" content="Steven J Hicks")
  link(rel="shortcut icon", href="images/favicon.ico")
  link(rel="stylesheet", href="css/elusive-icons.css")
  link(rel="stylesheet", href="css/main.css")
